# 忽略特定文件
screenshot*.jpg
list.error
tasks.json

# 忽略特定目录
__pycache__/
data/
data_log/
weights/

utils/experience/BAAI/
data-*
new_data/
vectordb/
utils/experience/all-MiniLM-L6-v2/
runner/mobiagent/data-*
runner/HarmonyOS-mobiagent/
RAG/
utils/experience/BAAI/

output*/
utils/experience/multistage_plans_storage
utils/experience/singletask_storage